.user-logo, .user-info {
    display: inline-block;
    margin: 2%;
}

.user-logo {
    width: 18%;
}

.user-info {
    vertical-align: top;
    width: 73%;

    a {
        color: inherit;

        &:hover {
            text-decoration: underline;
        }
    }
}

.online {
    color: #45d308;
}

.offline {
    color: #d21f07;
}

.list {
    margin: 0 auto;
    width: 600px;
}

.list, .loading {
    margin-top: 20px;
}

@media screen and (max-width: 460px) {
    .user-logo {
        display: block;
        width: 100%;

        img {
            width: 100px;
        }
    }

    .user-info {
        display: block;
        width: 100%;
    }
}
