$default-font: "Lato", sans-serif;

$color-primary: #2196f3;
$color-primary-dark: #1976d2;
$color-primary-light: #c0d6df;
$color-text-primary: #212121;
$color-text-secondary: #757575;
$color-accent: #ffca28;
$color-title: #546e7a;
$color-divider: #bdbdbd;
$color-negative: #c43636;
$color-link: #5eb1bf;
$white: #fff;
