.board {
    font-size: 0;
    height: 400px;

    .choice {
        font-size: 40px;

        p {
            margin: 0;
            padding: 20px;
        }

        button {
            font-family: inherit;
            height: 80px;
            width: 80px;
        }
    }

    .square {
        border: 1px solid $white;
        box-sizing: border-box;
        display: inline-block;
        font-size: 60px;
        height: 133.33px;
        line-height: 133.33px;
        vertical-align: middle;
        width: 133.33px;
    }
}

.message {
    p {
        font-size: 1.2em;
        letter-spacing: 3px;
        margin: 0;
        padding: 20px;
    }
}

.board, .message {
    background: #222;
    color: $white;
    font-family: "Rock Salt", cursive;
    margin: 0 auto;
    width: 400px;
}
